@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'DNFBitBitv2';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/DNFBitBitv2.ttf') format('opentype');
}
@font-face {
    font-family: 'BMHANNA_11yrs';
    font-style: normal;
    src: url('assets/fonts/BMHANNA_11yrs.ttf') format('opentype');
}